body {
  background: #141414;
  color: #ffffff
}

/*.movie-list-card {*/
/*  background: grey;*/
/*  opacity: 0.7;*/
/*  border-radius: 10px;*/
/*}*/

h1, h2, h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.movie-app > .row {
  flex-wrap: nowrap; 
  overflow-x: auto;
}

.movie-app > .row > .movie {
  flex: 0 0 auto;
  margin-right: 10px; 
}

.image-container{
  position: relative;
  transition: transform 0.2s;
  margin-right: 20px;
  margin-bottom: 20px;
}

.movie {
  flex: 0 0 auto;
}

.image-container:hover {
  cursor: pointer;
  transform:scale(1.05);
}

.image-container:hover .overlay{
  opacity: 0.8;
}

.overlay {
  position: absolute;
  background: rgb(0, 0, 0);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.btn-secondary {
  background-color: white;
  color: black;
}

.btn-link {
  background-color: rgba(100, 149, 237, 0.7);
  margin-left: 0.5rem;
  color: white;
  text-decoration: none;
}

.btn-link:hover {
  background-color: cornflowerblue;  /* Add the desired background color for hover */
  color: white;
  text-decoration: none;  /* Remove the underline on hover */
}

.welcome-message {
  margin-left: 10px;
}

.search-link {
  margin-left: auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.italic {
  font-style: italic;
}

.extra-small {
  font-size: 20px;
}